.main_wrapper {
    width: 100%;
    height: 100vh;
}

.all_wrapper {
    width: 100%;
    // height: 100%;
    background-image: url(../images/whit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Verdana', sans-serif;

}

.sidebar {
    width: 35%;
    padding-left: 36px;
    padding-right: 10px;
    background-color: #000000b8;
    color: #f0fff0d4;   
    min-width: 315px;
        
}

.main_section {
    padding-left: 40px;
    background-color: #00000014;
}