body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

.main_wrapper {
  width: 100%;
  height: 100vh;
}

.all_wrapper {
  width: 100%;
  background-image: url(../images/whit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row-reverse;
}

.sidebar {
  width: 35%;
  padding-left: 36px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.7215686275);
  color: rgba(240, 255, 240, 0.831372549);
}

.main_section {
  padding-left: 40px;
  background-color: rgba(0, 0, 0, 0.0784313725);
}

.section_foto .hero_foto {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 50%;
}

h3 {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
  color: cadetblue;
}

.section_contact .contact_adress {
  padding-bottom: 5px;
}
.section_contact .contact_list {
  padding-bottom: 10px;
}
.section_contact .contact_list .contact_link {
  padding-bottom: 5px;
}
.section_contact .contact_list a {
  font-style: italic;
}

.section_skill_soft, .section_skill_hard, .section_hobby {
  padding-bottom: 10px;
}
.section_skill_soft li, .section_skill_hard li, .section_hobby li {
  padding-bottom: 5px;
}

.intro_text {
  padding-top: 50px;
  font-size: 35px;
}
.intro_text h1 {
  padding-bottom: 15px;
}
.intro_text h2 {
  font-size: 30px;
  padding-bottom: 45px;
}

.technologies {
  padding-bottom: 15px;
}
.technologies .technologies_list {
  display: flex;
  justify-content: flex-start;
}
.technologies .technologies_list li {
  margin-right: 30px;
  text-transform: uppercase;
}

.projects {
  padding-bottom: 15px;
}
.projects .projects_item {
  padding-bottom: 5px;
}
.projects .projects_item a {
  font-style: italic;
}

.work_experience {
  padding-bottom: 10px;
}
.work_experience .work_item {
  padding-bottom: 15px;
  list-style: square;
}
.work_experience .work_item .work_job {
  padding-bottom: 5px;
}
.work_experience .work_item .work_job .work_doing {
  font-family: monospace;
}
.work_experience .work_item .work_time {
  font-style: italic;
  padding-left: 10px;
  padding-bottom: 5px;
}
.work_experience .work_item .work_respons {
  padding-left: 20px;
  padding-bottom: 5px;
}
.work_experience .work_item .work_respons_alt {
  padding-left: 30px;
  font-family: monospace;
}

.education .education_item {
  font-style: oblique;
}
.education .education_item .education_item_alt {
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  color: cornflowerblue;
}/*# sourceMappingURL=styles.css.map */